.footer {
  background: rgba($primary-color, .5);
  float: left;
  width: 100%;
  margin-top: 7em;
  text-align: center;
  padding: 1em;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.54);

  &__link {
    padding-left: 5px;
    color: white;
    text-decoration: underline;
  }
}
