.header {
  width: 100%;
  position: relative;
  height: 86px;
	background-image: linear-gradient(to top, rgba(127, 161, 185, 0.0), #6d8ba4);

  @include device($phone) {
    background-image: linear-gradient(to top, rgba(127, 161, 185, 0), rgba(67, 94, 113, 0.8),  #3f5d77)
  }

  &__wrapper {
    position: relative;
    height: 86px;
    width: 100%;
    float: left;
  }

  &__logo {
    width: 300px;
    padding: 10px;

    @include device($phone) {
      width: 210px;
      padding: 17px 5px;
    }
  }

  &__translation {
      position:fixed;
      right: 70px;
      top: 20px;

      @include device($phone) {
        right: 55px;
        top: 18px;
      }
  }

  &__translation-button {
      color: white;
      font-family: $secondary-font-family;
      font-size: 16px;
      text-decoration: none;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
      transition: all .5s;
      background: transparent;
      border: transparent;
      outline: none;
      appearance: none;

      &.active,
      &:hover {
        color: $secondary-color;
      }
}

}
